@{
    ViewData["Title"] = "Create Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Assignment

<h2>Add new Assignment</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title, new { @required = "true" })

    <label>Type of Assignment(i.e., Medical, Education, Community, etc)</label>
    @Html.LabelFor(model => model.Type)
    @Html.TextBoxFor(model => model.Type, new { @required = "true" })

    @Html.LabelFor(model => model.Date)
    @Html.TextBoxFor(model => model.Date, new { @type = "date" })

    @Html.LabelFor(model => model.Duration)
    @Html.TextBoxFor(model => model.Duration, new { @type = "number" })

    @Html.LabelFor(model => model.Location)
    @Html.TextBoxFor(model => model.Location)

    @Html.LabelFor(model => model.Language)
    @Html.TextBoxFor(model => model.Language)

    @Html.LabelFor(model => model.InterpreterId)
   
    <div class="form-group">
        @Html.DropDownList("InterpreterId", (IEnumerable<SelectListItem>)ViewBag.Terps, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => model.ClientId)

    <div class="form-group">
        @Html.DropDownList("ClientId", (IEnumerable<SelectListItem>)ViewBag.Clients, new { @class = "form-control" })
    </div>

    <input type="submit" value="Add new assignment" />
}
<p>@Html.ActionLink("Back to list of Assignments", "Index")</p>
