@{
    ViewData["Title"] = "Assignment Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Assignment


<div class="parallax top-parallax-medium">
    <h2 class="parallax-header">Assignment Details</h2>
</div>

<div class="chunk chunk-small">
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Date)</th>
            <th>@Html.DisplayNameFor(model => model.Time)</th>
            <th>@Html.DisplayNameFor(model => model.Duration)</th>
            <th>@Html.DisplayNameFor(model => model.Language)</th>
            <th>@Html.DisplayNameFor(model => model.Location)</th>
            <th><label>Interpreter Name</label></th>
            <th><label>Deaf/HH User Name</label></th>
            <th><label>Claimed?</label></th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Title)</td>
            <td>@Html.DisplayFor(model => model.Date)</td>
            <td>@Html.DisplayFor(model => model.Time)</td>
            <td>@Html.DisplayFor(model => model.Duration) hour(s)</td>
            <td>@Html.DisplayFor(model => model.Language)</td>
            <td>@Html.DisplayFor(model => model.Location)</td>
            <td>@Html.DisplayFor(model => model.FindInterpreter(model.InterpreterId).Name)</td>
            <td>@Html.DisplayFor(model => model.FindClient(model.ClientId).Name)</td>
            <td>
                @if(Model.Claimed == true)
                {
                    <span>Yes</span>
                }
                @if(Model.Claimed == false)
                {
                    <span>Not Yet!</span>
                }
            </td>
        </tr>
    </table>
  

    <p>@Html.ActionLink("Back to list of your events", "List")</p>
</div>
<div class="parallax bottom-parallax-large"></div>