@{
    ViewData["Title"] = "Edit Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Assignment

<div class="parallax top-parallax-medium">
    <h2 class="parallax-header">Edit Event</h2>
</div>

<div class="chunk chunk-small">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <span class="edit-label">
                        @Html.HiddenFor(model => model.AssignmentId)
                    </span>
                    @Html.HiddenFor(model => model.Claimed)
</div>
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Title)
                    </span>
                    @Html.EditorFor(model => model.Title)
</div>
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Type)
                    </span>
                    @Html.EditorFor(model => model.Type)
</div>
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Date)
                    </span>
                    @Html.EditorFor(model => model.Date)
</div>
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Time)
                    </span>
                    @Html.EditorFor(model => model.Time)
</div>
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Duration)
                    </span>
                    @Html.EditorFor(model => model.Duration)
</div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Location)</span>
                    @Html.EditorFor(model => model.Location)
</div>
                <div class="row">
                    <span class="edit-label">
                        @Html.LabelFor(model => model.Language)
                    </span>
                    @Html.EditorFor(model => model.Language)
</div>
                @if (User.IsInRole("Admin") || User.IsInRole("Deaf User"))
                {
                    <div class="row">
                        <span class="edit-label">
                            <label>Interpreter Name</label>
                        </span>
                            <div class="form-group">
                                @Html.DropDownList("InterpreterId", (IEnumerable<SelectListItem>)ViewBag.Terps, new { @class = "form-control" })
                            </div>
</div>
                }
                else
                {
                    @Html.HiddenFor(model => model.InterpreterId)
                }

                @if (User.IsInRole("Admin"))
                {
                    <div class="row">
                        <span class="edit-label">
                            <label>Client Name</label></span>
                            <div class="form-group">
                                @Html.DropDownList("ClientId", (IEnumerable<SelectListItem>)ViewBag.Clients, new { @class = "form-control" })
                            </div>
</div>
                }
                else
                {
                    @Html.HiddenFor(model => model.ClientId)

                }
            </div>
        </div>

            <input class="btn btn-custom save-button" type="submit" value="Save" />
            }

           

        </div>

<div class="parallax bottom-parallax-large parallax-link">@if (User.IsInRole("Admin"))
{
    <p>@Html.ActionLink("Back to list of all assignments", "Index")</p>
}

<p>@Html.ActionLink("Back to list of your events", "List")</p></div>
