@{
    ViewData["Title"] = "Edit Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Assignment

<h2>Edit</h2>
<hr />
<h4>Edit this assignment: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AssignmentId)
    @Html.HiddenFor(model => model.Claimed)

    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)

    @Html.LabelFor(model => model.Date)
    @Html.EditorFor(model => model.Date)

    @Html.LabelFor(model => model.Duration)
    @Html.EditorFor(model => model.Duration)

    @Html.LabelFor(model => model.Location)
    @Html.EditorFor(model => model.Location)

    @Html.LabelFor(model => model.Language)
    @Html.EditorFor(model => model.Language)

    @if (User.IsInRole("Admin") || User.IsInRole("Deaf User"))
    {
        <div class="row">
            <label>Interpreter Name</label>
            <div class="form-group">
                @Html.DropDownList("InterpreterId", (IEnumerable<SelectListItem>)ViewBag.Terps, new { @class = "form-control" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.InterpreterId)
    }

    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <label>Client Name</label>
            <div class="form-group">
                @Html.DropDownList("ClientId", (IEnumerable<SelectListItem>)ViewBag.Clients, new { @class = "form-control" })
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model=>model.ClientId)

    }



    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list of assignments", "Index")</p>

