@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<InterpretGO.Models.Assignment>



<h2>Assigments</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            <label>Deaf User Name</label>
        </th>
        <th>
            <label>Interpreter Name</label>
        </th>
        <th></th>
    </tr>
    @foreach (var listAssignment in Model)
    {
        @if ((listAssignment.Interpreter.Email.ToUpper() == @User.Identity.Name.ToUpper()) || (listAssignment.Client.Email.ToUpper() == User.Identity.Name.ToUpper()))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelAssignment => listAssignment.Title)
            </td>
            <td>
                @Html.DisplayFor(modelAssignment => listAssignment.Date)
            </td>
            <td>
                @Html.DisplayFor(modelAssignment => listAssignment.Time)
            </td>
            <td>
                @Html.DisplayFor(modelAssignment => listAssignment.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelAssignment => listAssignment.Interpreter.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = listAssignment.AssignmentId }) |
                @Html.ActionLink("Details", "Details", new { id = listAssignment.AssignmentId }) |
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = listAssignment.AssignmentId })
                }

            </td>
        </tr>
        }
        else
        {
          
        }
        }
</table>

@if ((User.Identity.IsAuthenticated && User.IsInRole("Admin")) || (User.Identity.IsAuthenticated && User.IsInRole("Deaf User")))
{
    <p>@Html.ActionLink("Add new Assignment", "Create")</p>
}