@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Interpreter

<h2>Add new Interpreter</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @required = "true" })

    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty, new { @required = "true" })

    @Html.LabelFor(model => model.Certification)
    @Html.TextBoxFor(model => model.Certification)

    @Html.LabelFor(model => model.Rate)
    <span>$</span>@Html.TextBoxFor(model => model.Rate, new { @type = "number", @required = "true" }) <span>/hour</span>

    <label>Email Address (Use the same as your user registration)</label>
    @Html.TextBoxFor(model => model.Email, new { @required = "true" })

    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone)

    <input type="submit" value="Add new interpreter" />
}
<p>@Html.ActionLink("Back to list of interpreters", "Index")</p>
</body>