@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Interpreter

<h2>Add new Interpreter</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <span class="form-label">
            @Html.LabelFor(model => model.Name)
        </span>
        @Html.TextBoxFor(model => model.Name, new { @required = "true" })
    </div>

    <div class="row">
        <span class="form-label">
            @Html.LabelFor(model => model.Specialty)
        </span>
        @Html.TextBoxFor(model => model.Specialty, new { @required = "true" })
    </div>

    <div class="row">
        <span class="form-label">
            @Html.LabelFor(model => model.Certification)
        </span>
        @Html.TextBoxFor(model => model.Certification)
    </div>

    <div class="row">
        <span class="form-label">
            @Html.LabelFor(model => model.Rate)
        </span>
        <span>$</span>@Html.TextBoxFor(model => model.Rate, new { @type = "number", @required = "true" }) <span>/hour</span>
    </div>

    <div class="row">
        <span class="form-label">
            <label>Email Address<br />
            (Use the same as your user registration)</label>
        </span>
        @Html.TextBoxFor(model => model.Email, new { @required = "true" })
    </div>

    <div class="row">
        <span class="form-label">
            @Html.LabelFor(model => model.Phone)
        </span>
        @Html.TextBoxFor(model => model.Phone)
    </div>

    <div class="row">
        <input type="submit" class="btn add-button" value="Add new interpreter" />
    </div>
}
<p>@Html.ActionLink("Back to list of interpreters", "Index")</p>
