@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Interpreter



    <h2>Interpreter Details</h2>
    <hr />
<table>
    
    <tr>
        <th class="terp-detail-head">
            @Html.DisplayNameFor(model => model.Name):
        </th>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <th class="terp-detail-head">
            @Html.DisplayNameFor(model => model.Phone):
        </th>
        <td>
            @Html.DisplayFor(model => model.Phone)
        </td>
    </tr>
    <tr>
        <th class="terp-detail-head">
            @Html.DisplayNameFor(model => model.Email):
        </th>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <th class="terp-detail-head">
            @Html.DisplayNameFor(model => model.Specialty):
        </th>
        <td>
            @Html.DisplayFor(model => model.Specialty)
        </td>
    </tr>
    <tr>
        <th class="terp-detail-head">
            @Html.DisplayNameFor(model => model.Rate):
        </th>
        <td>
            <span>$</span>@Html.DisplayFor(model => model.Rate)<span>.00/hour</span>
        </td>
    </tr>

    <tr>
        <th class="terp-detail-head">
            Options:
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.InterpreterId }) | 
            @Html.ActionLink("Delete", "Delete", new { id = Model.InterpreterId })
        </td>
    </tr>
</table>
   

    <p>@Html.ActionLink("Back to list of interpreters", "Index")</p>
