@{
    ViewData["Title"] = "Index Interpreters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<InterpretGO.Models.Interpreter>



<h2>Interpreters</h2>
@if (!User.Identity.IsAuthenticated)
{
    <p>Sign in or Register to see more details!</p>
}
<table class="table">
    <tr>
        <th>Interpreter Name</th>
        @if (User.Identity.IsAuthenticated)
        {
            <th>Email Address</th>
                    <th>Options</th>
        }
    </tr>

    @foreach (var listInterpreter in Model)
    {
        @if (listInterpreter.Name != "No Interpreter Preference")
        {

            <tr>
                <td class="interpreter-index-name">
                    @Html.DisplayFor(modelInterpreter => listInterpreter.Name)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>@Html.DisplayFor(modelInterpreter => listInterpreter.Email)</td>

                    <td class="interpreter-index-list">
                        @Html.ActionLink("Details", "Details", new { id = listInterpreter.InterpreterId }) 
                    </td>
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = listInterpreter.InterpreterId })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = listInterpreter.InterpreterId })
                                
                            </td>;

                        }
                }
            </tr>
        }
    }
</table>
        

@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("Add new interpreter", "Create")</p>
}
