@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<InterpretGO.Models.Interpreter>



<h2>Interpreters</h2>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<ul>
    @foreach (var listInterpreter in Model)
    {
        <li>@Html.DisplayFor(modelInterpreter => listInterpreter.Name) | @Html.ActionLink("Details", "Details", new { id = listInterpreter.InterpreterId }) | @Html.ActionLink("Edit", "Edit", new { id = listInterpreter.InterpreterId }) | @Html.ActionLink("Delete", "Delete", new { id = listInterpreter.InterpreterId })
        </li>
        
    }
</ul>

<p>@Html.ActionLink("Add new interpreter", "Create")</p>
