<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
    </script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script>
        $('#scrollDefaultExample').timepicker();
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/img/favicon.png" />
    <title>InterpretGO</title>
</head>
<body class="all">
    <nav class="navbar navbar-toggleable-md custom-navbar">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h3 class="navbar-brand"><a class="logo" href="/">InterpretGO<img class="title-icon" src="~/img/favicon.png" alt="interpret logo" /></a></h3>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
            {
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <h5 class="nav-space">@Html.ActionLink("Roles", "Index", "Roles")       </h5>
                        </li>
                    }
                    <li class="nav-item">
                        <h5 class="nav-space">@Html.ActionLink("Events and Requests", "List", "Assignments")</h5>
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        <h5 class="nav-space">@Html.ActionLink("Interpreters", "Index", "Interpreters")</h5>
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        <h5 class="nav-space">@Html.ActionLink("Clients", "Index", "Clients")</h5>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item nav-item-adjustment navbar-right">
                        <span>@User.Identity.Name</span>
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        <span class="logoff-links">@Html.ActionLink("Log Out", "LogOff", "Account")</span>
                    </li>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-custom-spacing nav-item nav-item-adjustment">
                        @Html.ActionLink("Log In", "Login", "Account")
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        @Html.ActionLink("Register", "Register", "Account")
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="render-body">
        @RenderBody()
    </div>
</body>
</html>
