<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
    </script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script>
        $('#scrollDefaultExample').timepicker();
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>InterpretGO</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h3 class="navbar-brand">@Html.ActionLink("InterpretGO", "Index", "Home")</h3>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h5 class="nav-space">@Html.ActionLink("Events and Requests", "Index", "Assignments")</h5>
                </li>
                <li class="nav-item nav-item-adjustment">
                    <h5 class="nav-space">@Html.ActionLink("Interpreters", "Index", "Interpreters")</h5>
                </li>
                <li class="nav-item nav-item-adjustment">
                    <h5 class="nav-space">@Html.ActionLink("Clients", "Index", "Clients")</h5>
                </li>
                </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item nav-item-adjustment">
                        <span>@User.Identity.Name</span>
                    </li>
                    <li class="logoff-links nav-item nav-item-adjustment">
                        <span class="btn btn-info">@Html.ActionLink("Log Out", "LogOff", "Account")</span>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
