@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using InterpretGO.ViewModels

@model RegisterViewModel

<div class="parallax top-parallax-medium"></div>

<div class="chunk">
    <h2>Register a new user</h2>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="row">
            <span class="register-label">@Html.LabelFor(m => m.Email)</span>
            <span class="register-form-box">@Html.TextBoxFor(m => m.Email)</span>
</div>
        <div class="row">
            <span class="register-label">@Html.LabelFor(m => m.Password)</span>
            <span class="register-form-box">@Html.PasswordFor(m => m.Password)</span>
</div>
        <div class="row">
            <span class="register-label">@Html.LabelFor(m => m.ConfirmPassword)</span>
            <span class="register-form-box">@Html.PasswordFor(m => m.ConfirmPassword)</span>
</div>

    <input type="submit" value="Register" />
    }
</div>

<div class="parallax bottom-parallax-medium"></div>