@{
    ViewData["Title"] = "Create Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using InterpretGO.Models
@model InterpretGO.ViewModels.ClientsViewModel


<div class="parallax-purple top-parallax-medium">
    <h2 class="parallax-header">Add new Deaf User</h2>
</div>

<div class="chunk chunk-small">
    @using (Html.BeginForm())
    {
        <div class="row">
            <span class="form-label">@Html.LabelFor(model => model.Client.Name)</span>
            @Html.TextBoxFor(model => model.Client.Name, new { @required = "true" })
        </div>

        <div class="row">
            <span class="form-label"><label>Language Preference</label></span>
            @Html.DropDownListFor(model => model.Client.Language,
                    @Model.Languages,
                    "Select Language")
        </div>

        <div class="row">
            <span class="form-label"><label>Email (use the same email you used to register)</label></span>
            @Html.TextBoxFor(model => model.Client.Email)
        </div>

        <div class="row">
            <span class="form-label">@Html.LabelFor(model => model.Client.Phone)</span>
            @Html.TextBoxFor(model => model.Client.Phone)
        </div>

        <div class="row">
            <input class="btn btn-custom" type="submit" value="Add new deaf client" />
        </div>
    }


</div>

<div class="parallax-purple bottom-parallax-large parallax-link"><p>@Html.ActionLink("Back to list of Deaf clients", "Index")</p>
</div>