@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Client

<div class="parallax-purple top-parallax-medium">
    <h2 class="parallax-header">Deaf/HH User Details</h2>
</div>

<div class="chunk chunk-small">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-lower">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <th>@Html.DisplayFor(model => model.Name)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Phone)</td>
                    <th>@Html.DisplayFor(model => model.Phone)</th>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Email)</td>
                    <th>@Html.DisplayFor(model => model.Email)</th>
                </tr>
                <tr>
                    <td><label>Language Preference</label></td>
                    <th>@Html.DisplayFor(model => model.Language)</th>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <img class="client-detail-image" src="~/img/person6.jpeg" />
        </div>

    </div>
    

    <p class="table-lower">@Html.ActionLink("Back to list of clients", "Index")</p>
</div>

<div class="parallax-purple bottom-parallax-large"></div>
