@{
    ViewData["Title"] = "Edit Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model InterpretGO.Models.Client

<div class="parallax-purple top-parallax-medium">
    <h2 class="parallax-header">Edit Deaf/HH User</h2>
</div>

<div class="chunk chunk-small">
    <h4>Edit this Deaf/Hard of Hearing User: @Html.DisplayFor(model => model.Name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ClientId)

        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)

        @Html.LabelFor(model => model.Language)
        @Html.EditorFor(model => model.Language)

        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)

        @Html.LabelFor(model => model.Phone)
        @Html.EditorFor(model => model.Phone)

        <input type="submit" value="Save" />
    }
</div>
<div class="parallax-purple bottom-parallax-large parallax-link">
    <p>@Html.ActionLink("Back to list of clients", "Index")</p>
</div>
