@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole

<div class="parallax-red top-parallax-medium">
    <h2 class="parallax-header">Edit Role</h2>
</div>

<div class="chunk chunk-small">
    <h1>Edit Role</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="row">
            <div class="col-sm-1">
                <label>Id:</label>
            </div>
            <div class="col-sm-11">
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1">
                <label>Name:</label>
            </div>
            <div class="col-sm-11">
                @Html.TextBoxFor(model => model.Name)
            </div>
        </div>

        <input type="submit" class="btn btn-custom save-button" value="Save Edit">
    }
</div>

<div class="parallax-red bottom-parallax-large parallax-link">
    @Html.ActionLink("Back to Role Manager", "Index")
</div>
<div class="parallax-red bottom-parallax-medium"></div>
