<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">
    </script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script>
        $('#scrollDefaultExample').timepicker();
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>InterpretGO</title>
</head>
<body class="home-page">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h3 class="navbar-brand">@Html.ActionLink("InterpretGO", "Index", "Home")</h3>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
            {
                    @if (User.IsInRole("Admin"))
                {
                        <li class="nav-item">
                            <h5 class="nav-space">@Html.ActionLink("Roles", "Index", "Roles")       </h5>
                        </li>
                    }
                    <li class="nav-item">
                        <h5 class="nav-space">@Html.ActionLink("Events and Requests", "Index", "Assignments")</h5>
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        <h5 class="nav-space">@Html.ActionLink("Interpreters", "Index", "Interpreters")</h5>
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        <h5 class="nav-space">@Html.ActionLink("Clients", "Index", "Clients")</h5>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
            {
                    <li class="nav-item nav-item-adjustment navbar-right">
                        <span>@User.Identity.Name</span>
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        <span class="logoff-links">@Html.ActionLink("Log Out", "LogOff", "Account")</span>
                    </li>
                }
                @if (!User.Identity.IsAuthenticated)
            {
                    <li class="nav-custom-spacing nav-item nav-item-adjustment">
                        @Html.ActionLink("Log In", "Login", "Account")
                    </li>
                    <li class="nav-item nav-item-adjustment">
                        @Html.ActionLink("Register", "Register", "Account")
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>InterpretGO</h2>

        <h4>A simple way for the Deaf Community and interpreters to connect</h4>

        <h4>How it works</h4>
        <p>
            Both interpreters and Deaf and Hard of Hearing people will be able to connect to request and accept interpreting jobs without the middleman of an interpreting agency. Deaf/HH users can log in, create a profile, and send interpreter requests for specific events. Interpreters can then log in as well, see open jobs and specific requests, and confirm assignments that fit into their schedules.
        </p>

        <h4>Why InterpretGO?</h4>
        <p>
            Interpreting agencies are wonderful in many ways, but why use a third party to handle requests when the Deaf/HH consumers and the interpreters can communicate directly? It will save time and hassle, while being less vague and more straight-forward for the consumer.
        </p>

        <h4>Our Interpreters</h4>
        <p>
            All of our interpreters undergo a thorough interview and screening process to ensure skill, clarity, and a positive attitude.
        </p>
    </div>
</body>
</html>
